.error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 5px;
    font-style: italic;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

h5 {
    text-transform: uppercase;
    font-weight: normal;
}
