.error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 5px;
    font-style: italic;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

h5 {
    text-transform: uppercase;
    font-weight: normal;
}

table .image {
    display: block;
    height: 50px;
}

.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table strong {
    min-width: 88px;
    display: inline-block;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.uk-flex-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.filter-wrapper {
    margin-bottom: 20px;
}

.filter-wrapper .perpage {
    display: inline-block;
}

.btn {
    margin-bottom: 0 !important;
    border-radius: 0;
    height: 32px;
}

.filter-wrapper .form-control {
    height: 32px;
    max-width: 200px;
}

.mr10 {
    margin-right: 10px;
}

.mr5 {
    margin-right: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}

.box .ibox {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.control-label {
    display: block;
}

.panel-title {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700;
    color: #1a1a1a;
}

.panel-description {
    font-size: 1.5rem;
}

.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}

.select2-container .select2-selection--single {
    height: 32px !important;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: color, -webkit-box-shadow;
    transition-property: color, -webkit-box-shadow;
    transition-property: box-shadow, color;
    transition-property: box-shadow, color, -webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    border: 1px solid #c4cdd5;
    outline: none;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#f9fafb)
    );
    background: linear-gradient(to bottom, #fff, #f9fafb);
    background-color: #c4cdd5;
    border-radius: 5px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 31px !important;
    font-size: 1.3rem;
}

.form-control {
    height: 31px;
    border-radius: 0 !important;
}

.active-bg {
    background: #ffc !important;
}

#checkAll,
.checkBoxItem {
    width: 15px;
    height: 15px;
}

#checkAllReceipt,
.checkBoxItemReceipt {
    width: 15px;
    height: 15px;
}

.switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 33px;
}

.switchery-small > small {
    height: 20px;
    width: 20px;
}

.select2-container--default {
    margin-right: 10px;
}

.translate-meta-title,
.meta-title {
    font-size: 2rem;
    color: #1a0dab;
}

.translate-canonical,
.canonical {
    color: green;
    margin-bottom: 8px;
}

.translate-meta-description,
.meta-description {
    font-size: 1.4rem;
}

.seo-wrapper {
    margin-top: 30px;
}

.seo-wrapper textarea {
    height: 200px !important;
}

.notice {
    font-size: 1.1rem;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

.img-target {
    cursor: pointer;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input:focus {
    border-color: #e5e6e7 !important;
}

.input-wrapper .baseUrl {
    position: absolute;
    height: 31px;
    line-height: 31px;
    display: inline-block;
    padding: 0 10px;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, #fff, #f9fafb);
    border-color: #e5e6e7 !important;
    border: 1px solid;
    border-right: 0;
}

.seo_canonical {
    color: navy;
    font-weight: 600;
}

.sortui {
    list-style: none;
    padding-left: 0;
}

.sortui .thumb {
    position: relative;
}

.deleteSlide,
.sortui .variant-delete-image,
.sortui .delete-image {
    position: absolute;
    background: linear-gradient(to bottom, #fff, #f9fafb);
    color: red;
    right: 10px;
    top: 10px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.deleteSlide:hover,
.sortui .variant-delete-image:hover,
.sortui .delete-image:hover {
    background: red;
    color: #fff;
}

.sortui .ui-state-default {
    width: calc(20% - 2px);
    float: left;
    padding-left: 10px;
    margin: 0 0 10px 0;
    margin-bottom: 10px;
    cursor: move;
    background: transparent;
    box-shadow: none;
    border: 0;
}

.sortui .ui-state-default .thumb {
    border: 1px solid #ddd;
    height: 150px;
    background: #fafbfc;
}

.img-scaledown,
.image-scaledown {
    display: block;
    width: 100%;
    height: 100%;
}

.img-scaledown img,
.image-scaledown img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.click-to-upload {
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}

.hidden {
    display: none;
}

.image-post {
    width: 75px;
    height: 45px;
}

.img-cover {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.maintitle,
a {
    color: #2962ff;
}

.maintitle {
    display: -webkit-box; /* Cần thiết để sử dụng -webkit-line-clamp */
    -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị là 2 */
    -webkit-box-orient: vertical; /* Định hướng hộp linh hoạt theo chiều dọc */
    overflow: hidden; /* Ẩn phần nội dung vượt quá kích thước của phần tử */
    text-overflow: ellipsis; /* Thêm dấu ba chấm (...) vào cuối văn bản bị cắt ngắn */
    font-weight: 600;
}

.catalogue {
    font-size: 1.2rem;
}

.catalogue span {
    font-weight: 600;
}

.catalogue a {
    color: #333;
}

.language-item {
    height: 70px;
    padding: 0;
    margin-left: 10px;
}

.language-item.active {
    background-color: #1ab394;
}

.language-flag {
    width: 50px;
    height: 25px !important;
    display: inline-block !important;
}

.schema {
    height: 350px !important;
}

.int {
    text-align: right;
}

.ibox-title h5 {
    float: none;
}

.variant-box .description {
    font-size: 1.2rem;
}

.variant-checkbox input {
    margin: 0;
    width: 16px;
    height: 16px;
}

.variant-checkbox label {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;
}

.variant-container {
    margin-top: 30px;
}

.attribute-title {
    font-size: 1.3rem;
    color: #1791f2;
}

.variant-body {
    margin-top: 10px;
}

.variant-body .remove-attribute,
.fake-general-attribute,
.fake-variant {
    height: 42px !important;
    border-radius: 5px;
}

.niceSelect {
    width: 100% !important;
}

.add-general-attribute,
.add-variant {
    height: 42px;
    color: #1791f2;
    border: 1px dashed #1791f2;
    background-color: #fafafa;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 0 40px;
}

.add-general-attribute:hover,
.add-variant:hover {
    background-color: #efefef;
}

.select2-container .select2-selection--multiple {
    min-height: 42px;
    line-height: 29px;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 25px;
}

.variantTable thead {
    background-color: #333;
    color: #fff;
}

.variantTable tbody td,
.variantTable thead td {
    text-align: right;
    cursor: pointer;
}

.variantTable thead td:first-child {
    text-align: left;
}

.variantTable .variant-row .image {
    width: 28px;
    height: 28px;
}

.updateVariant {
    box-shadow: none !important;
    background-color: #eaeaea;
}

.click-to-upload-variant {
    text-align: center;
    border: 1px dashed #b8b2b2;
    padding: 20px;
}

.updateVariant label {
    margin-bottom: 0;
    font-weight: 600;
    color: #1a0dab;
    margin-bottom: 5px;
}
.form-control {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-property: color, -webkit-box-shadow;
    transition-property: color, -webkit-box-shadow;
    transition-property: box-shadow, color;
    transition-property: box-shadow, color, -webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    border: 1px solid #c4cdd5;
    outline: none;
    height: 32px;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    /* box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05); */
    border-radius: 5px;
}

.updateVariant .image {
    height: 150px;
}

.system-link {
    font-weight: normal;
    color: #1ab394;
    font-style: italic;
}

.system-title {
    font-weight: normal;
    color: red;
    font-style: italic;
}

.system-textarea {
    height: 100px !important;
}

.system-flag {
    padding-bottom: 10px;
    width: 35px;
    height: 33px;
    margin-right: 10px;
}

.menuContainer .select2-container {
    width: 100% !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.text-bold {
    font-weight: bold;
}

.modal label {
    font-size: 1.2rem;
}

#accordion {
    margin-bottom: 0 !important;
}

#accordion .panel-title {
    font-size: 1.3rem;
    margin: 0 !important;
}

#accordion .panel-title a {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
}

.error {
    font-style: italic;
    margin-top: 5px;
    color: red;
    font-size: 1.1rem;
}

.form-error {
    font-size: 1.3rem;
}

.m0 {
    margin: 0 !important;
}

.m-item label {
    margin: 0;
    font-weight: normal;
    color: blue;
    margin-left: 5px;
    cursor: pointer;
}

.m-item {
    margin-bottom: 10px;
}

.menu-list .pagination {
    margin-bottom: 0 !important;
}

.none {
    display: none;
}

.dd-handle {
    position: relative;
    padding-right: 125px !important;
}

.create-children-menu {
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 100;
}

#nestable2 .dd-item > button {
    z-index: 9999;
}

.align-justify {
    text-align: justify;
}

.menu-name {
    min-width: 90px;
}

.menu-translate-item .form-row:not(:last-child) {
    margin-bottom: 10px;
}

.setting-item {
    margin-bottom: 15px;
}

.setting-item .setting-text {
    min-width: 120px;
}

.setting-item .setting-value {
    position: relative;
    width: 100%;
}

.setting-item .setting-value .form-control {
    padding-right: 25px;
}

.setting-item .setting-value .px {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1ab394;
}

.setting-item .setting-value input[type="checkbox"],
.setting-item .setting-value input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.setting-item .setting-value label {
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: pointer;
}

.nav-setting-item {
    margin-bottom: 10px;
}

.ibox .ibox-title-slide h5 {
    margin-bottom: 0;
}

.ibox-title-slide {
    padding: 7px;
}

/* chọn tất cả các phần tử con của .custom-row mà có lớp chứa "col-" */
.custom-row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.tab-content .panel-body {
    padding: 10px;
}

input[type="checkbox"] {
    margin: 0;
}

.form-row .overlay label {
    font-weight: normal;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.form-row .overlay input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.form-row-url {
    padding-right: 160px;
    position: relative;
}

.form-row .overlay {
    position: absolute;
    top: 7px;
    right: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.slide-image {
    height: 171px;
    position: relative;
}

.deleteSlide {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mt12 {
    margin-top: 12px !important;
}

.slide-seo-tab {
    padding-right: 0 !important;
}

.slide-list .ui-state-default {
    width: 100% !important;
    font-weight: normal !important;
}

.img-avatar {
    width: 50%;
}

.uk-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.uk-flex-wrap .image {
    flex: 0 0 calc(20% - 10px); /* 5 hình trên 1 hàng, với khoảng cách giữa các hình là 10px */
    height: 100%;
}

.change-img {
    position: absolute;
    bottom: 0;
    line-height: 25px;
    width: 100%;
    height: 25px;
    background-color: rgba(26, 26, 26, 0.7);
    color: #fff;
    cursor: pointer;
}

.widgetContent .row {
    margin-bottom: 0 !important;
}

.labelText {
    margin-bottom: 20px;
    font-weight: 600;
}

.model-item {
    margin-bottom: 10px;
}

.model-item label {
    margin-bottom: 0;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
}

.model-item input {
    margin: 0;
}

.search-model {
    border-radius: 5px;
    height: 42px;
    padding-left: 35px;
    font-size: 1.4rem;
    border: 1px solid #e3e9ed;
    outline: 0;
}

.search-model-box {
    position: relative;
    margin-top: 40px;
}

.search-model-box .fa {
    position: absolute;
    left: 15px;
    top: 15px;
}

.search-model-result {
    margin-top: 20px;
}

.search-result-item .image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search-result-item .name {
    color: blue;
}

.search-result-item .deleted {
    cursor: pointer;
}

.search-result-item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e9ed;
}

.ajax-search-result {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgb(33 33 33 / 10%);
    z-index: 100;
    width: 100%;
}

.ajax-search-result button {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 15px 10px;
}

.ajax-search-result button:hover {
    background-color: #eff9fd;
}

.form-date {
    position: relative;
}

.form-date input {
    padding-right: 30px;
}

.form-date span {
    position: absolute;
    top: 6px;
    right: 10px;
}

/* Chọn tất cả các phần tử con trực tiếp của phần tử span nằm trong .form-date. */
.form-date span > * {
    color: #777;
}

.fix-label {
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}

.ml5 {
    margin-left: 5px;
}

.promotion-wrapper input[type="radio"] {
    margin: 0;
}

.promotion-wrapper input[type="checkbox"],
.promotion-wrapper input[type="radio"] {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.promotion-wrapper .select2-container--default {
    width: 100% !important;
    /* height: 40px !important; */
}

div.fix-label {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.wrapperConditionItem {
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
}

.wrapper-condition {
    margin-top: 20px;
}

.conditionLabel {
    color: blue;
}

.discountType .select2-container {
    width: 60px !important;
    margin-left: 10px;
    margin-right: 0;
}

.delete-some-item {
    cursor: pointer;
}

.btn-custom {
    border-radius: 4px;
}

.btn-success {
    background-color: #0088ff;
}

.errorLine td input {
    border: 1px solid red;
}

.product-quantity {
    border: 1px solid #c4cdd5;
    background-color: #fff;
    padding: 9px 5px;
    border-radius: 4px;
    cursor: pointer;
    min-height: 31px;
}

.product-quantity p {
    margin: 0;
}

.product-quantity .boxSearchIcon .fa {
    width: 24px;
    text-align: center;
}

.goods-item {
    background: rgb(217, 237, 255);
    border: 1px solid transparent;
    margin-bottom: 8px;
    text-align: center;
    position: relative;
    border-radius: 100px;
    padding: 4px 10px;
}

.goods-item a {
    font-size: 1.3rem;
    /* hiển thị dấu ba chấm (...) khi nội dung văn bản vượt quá kích thước của một phần tử */
    text-overflow: ellipsis;
    /* văn bản hiển thị trên một dòng */
    white-space: nowrap;
    /* Ẩn phần văn bản vượt quá chiều rộng */
    overflow: hidden;
    display: block;
    /* Xác định độ rộng cố định của phần tử */
    width: 90%;
    color: #000;
}

.goods-item button {
    background: transparent;
    position: absolute;
    right: 0;
    top: 2px;
    border: 0;
}

.goods-item button img {
    width: 12px;
    height: 12px;
}

.boxWrapper .col-lg-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.boxWrapper p {
    font-size: 1.3rem;
}

.fixGrid6 {
    max-width: 50%;
    /* phần tử sẽ không mở rộng để lấp đầy không gian trống, kích thước của nó sẽ cố định theo flex-basis hoặc width */
    flex-grow: 0;
    /* Phần tử chiếm 50% chiều rộng của container */
    flex-basis: 50%;
    padding: 0 6px;
}

.boxWrapper {
    display: flex;
    width: 100%;
    /* Các phần tử con sẽ được phân bố trên nhiều dòng nếu không đủ không gian trong một dòng duy nhất. Các phần tử mới sẽ tự động xuống dòng bên dưới. */
    flex-wrap: wrap;
}

.modal-title {
    text-transform: uppercase;
    font-weight: 600;
}

.modal-body .search-model-box {
    margin-top: 0;
}

.modal-body .search-model-box i {
    font-size: 1.2rem;
}

.search-object-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e9ed;
}

.search-object-item .image {
    width: 52px;
    height: 52px;
    margin-right: 10px;
    margin-left: 10px;
}

.object-name .name {
    font-size: 1.4rem;
    margin-bottom: 4px;
}

.object-name .jscode {
    color: blue;
    font-size: 1.2rem;
}

.object-extra-info {
    text-align: right;
}

.object-extra-info .price {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 6px;
}

.object-extra-info .slash {
    margin-right: 5px;
    margin-left: 5px;
}

.object-extra-info .text-value {
    font-size: 1.4rem;
    color: blue;
}

.object-extra-info .text-1 {
    font-size: 1.4rem;
    color: #888;
}

.search-list {
    /* xuất hiện thanh cuộn khi nội dung bị tràn */
    overflow: auto;
    /* Đặt chiều cao của phần tử dựa vào nội dung bên trong. */
    height: auto;
    max-height: calc(100vh - 300px);
    padding-right: 20px;
}

.chooseProductPromotionTd .product-quantity::-webkit-scrollbar,
.search-list::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

.chooseProductPromotionTd .product-quantity::-webkit-scrollbar-track,
.search-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chooseProductPromotionTd .product-quantity::-webkit-scrollbar-thumb,
.search-list::-webkit-scrollbar-thumb {
    background: #888;
}

.chooseProductPromotionTd .product-quantity::-webkit-scrollbar-thumb:hover,
.search-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.search-list .pagination {
    font-size: 1.2rem;
}

.chooseProductPromotionTd {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chooseProductPromotionTd .product-quantity {
    /* xuất hiện thanh cuộn khi nội dung bị tràn */
    overflow: auto;
    /* Đặt chiều cao của phần tử dựa vào nội dung bên trong. */
    height: auto;
    max-height: 150px;
}

.mt15 {
    margin-top: 15px;
}

.text-small {
    font-size: 1.2rem;
    font-weight: 600;
}

.ibox-tools-button .dropdown-toggle + .dropdown-menu.dropdown-user {
    left: -150px !important;
}

.order-wrapper {
    padding: 20px 20px 40px;
    margin: 0 auto;
    /* max-width: 1036px; */
}

.ibox-title-left .badge {
    margin-left: 20px;
}

.badge__tip {
    width: 8px;
    height: 8px;
    margin: 0 3px 0 0;
    color: #9c6f19;
    display: inline-block;
    background: transparent;
    border-radius: 50%;
    border: 0.2rem solid currentColor;
}

.badge-text {
    display: inline-block;
}

.ibox-title-left .badge {
    background: #ffea8a;
}

.table-order {
    width: 100%;
    border-collapse: collapse;
}

.order-item:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

.table-order td {
    padding: 6px 10px;
    padding-left: 0;
}

.order-item .image {
    width: 100%;
    height: 75px;
}

.order-item-name {
    color: #2962ff;
}

.order-item-voucher {
    margin-top: 3px;
    font-size: 1.3rem;
}

.order-item-subtotal,
.order-item-price {
    text-align: right;
}

.order-item-times,
.order-item-qty {
    text-align: center;
}

.table-order {
    color: #000;
}

.table-order strong,
.order-item-subtotal {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.payment-confirm {
    padding: 20px;
    border-top: 1px solid #eaeaea;
    background: #fff;
}

.payment-confirm .icon {
    margin-right: 10px;
}

.payment-confirm .icon img {
    max-width: 18px;
}

.payment-title {
    margin-left: 20px;
}

.payment-title .text_2 {
    font-size: 1.3rem;
}

.customer-line:not(:last-child) {
    margin-bottom: 10px;
}

div .edit {
    cursor: pointer;
}

.order-aside label {
    display: block !important;
}

.order-aside .select2-container {
    width: 100% !important;
}

.cancel-badge {
    padding: 3px 7px;
    background: red;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
}

.confirm-badge {
    padding: 3px 7px;
    background: #0088ff;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
}

.pending-badge {
    padding: 3px 7px;
    background: #1ab394;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
}

.updateBadge {
    cursor: pointer;
}

.review-star {
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.review-star .fa {
    margin-right: 3px;
}

.review-star .fa-star {
    color: #efb140;
}

.review-star .fa-star-dark {
    color: rgba(145, 158, 171, 0.522) !important;
}

#submitCancelOrder .panel-head {
    font-size: 1.5rem;
    font-weight: bold;
}

#submitCancelOrder .message-text {
    font-size: 1.3rem;
}

#submitCancelOrder .close-modal {
    display: none !important;
}

.jquery-modal.blocker {
    z-index: 9999 !important;
}

.nice-select.open .list {
    max-height: 400px; /* Giới hạn chiều cao danh sách */
    overflow-y: auto; /* Thêm thanh cuộn dọc */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang nếu không cần thiết */
}
/* end */
